* {
  box-sizing: border-box;
}

body {
  background: #0F111A;
  color: white;
  height: 100vh;
  width: 100vw;
  padding:0;
  margin:0;
  font-family: lato;
  counter-reset: card;
}

.card {
  counter-increment: card-number;
} 

.card_number::before {
  font-weight: bold;
  font-size: 38px;
  content: counter(card-number);
}


.card {
  width: 100px;
  height: 150px;
  background: red;
  padding: 10px;
  margin: 5px;
}

.card:nth-child(2) {
  background: orange;
}


.card:nth-child(3) {
  background: yellowgreen;
}


.card:nth-child(4) {
  background: yellow;
  color: black;
}

.card:nth-child(5) {
  background: aqua;
  color: black;
}

.card:nth-child(6) {
  background: white;
  color: black;
}